@import url("reset.css");
@import url("fonts.css");

.for_mobile {
  display: none !important;
}
* {
  font-family: "Geist", sans-serif;
  text-decoration: none;
  color: #09090b;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  background-color: #f4f4f5;
  padding: 0 16px;
  width: 100%;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1488px;
  height: 70px;
  padding: 0 24px 0 24px;
  align-items: center;
  .for_mobile {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 12px;
    padding: 12px;
    background-color: #f4f4f5;
  }
}
.nav_links {
  display: flex;
  gap: 12px;
}
.nav_link {
  color: black;
  font-size: 18px;
}
.nav_button {
  display: flex;
  align-items: center;
  padding: 7px 32px;
  height: 50px;
  background-color: #0077ff;
  border-radius: 14px;
  font-size: 18px;
  color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  gap: 24px;
}
.main_title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 340px;
  border-radius: 24px;
  border: 1px solid #e4e4e7;
  padding: 28px 22px;
  gap: 12px;
  box-shadow: 0 4px 6px 0 #0000000d;
  h1 {
    text-align: center;
    font-size: 60px;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 50px;
    border-radius: 14px;
    padding: 7px 32px;
    background: #131313;
    color: #fff;
    font-size: 18px;
  }

  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/banner_background.svg");
}
.main_vacancies {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: flex-start;
}
.filters {
  display: flex;
  flex-shrink: 0;
  max-width: 464px;
  width: 100%;
}
.input {
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 10px;
  height: 50px;
  background-color: #f4f4f5;
  box-shadow: inset 0 0 0 1px #e4e4e7;
  border-radius: 12px;
  p {
    text-align: center;
    font-size: 18px;
    color: #131313;
  }
}
.for_mobile div.input {
  height: 44px;
}
.filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  > p {
    font-weight: 600;
  }
  .selector {
    display: flex;
    gap: 10px;
    .button {
      padding: 6px 10px;
      border-radius: 7.76px;
      background-color: #f4f4f5;
      p {
        color: #a1a1aa;
      }
    }
  }
}
.filters.for_desktop {
  padding: 24px;
  gap: 24px;
  flex-direction: column;
  border-radius: 24px;
  background-color: #fafafa;
  box-shadow: 0 4px 6px 0 #0000000d;
}
.filters.for_mobile {
  gap: 6px;
  > :first-child {
    flex: 1;
  }
}
.selector_loc {
  flex-direction: column;
  gap: 6px;
  padding: 12px 10px;
  background-color: #f4f4f5;
  border-radius: 12px;
  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    div {
      width: 22px;
      height: 22px;
      border-radius: 4px;
      background-color: #e4e4e7;
    }
  }
}
.filter:last-child .selector {
  gap: 12px;
  align-items: center;
  div:not(.salary) {
    width: 1px;
    height: 22px;
    background-color: #e4e4e7;
    flex-grow: 0;
  }
}
.salary {
  display: flex;
  align-items: center;
  padding: 12px;
  height: 50px;
  background-color: #f4f4f5;
  box-shadow: inset 0 0 0 1px #e4e4e7;
  flex-grow: 1;
  border-radius: 12px;
}
.vacancies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 12px;
  flex: 1;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  gap: 24px;
  width: 100%;
  min-width: 350px;
  min-height: 319px;
  border-radius: 24px;
  box-shadow: inset 0 0 0 1px #e4e4e7, 0 4px 6px 0 #0000000d;
  background-color: #fafafa;
  position: relative;
}
.top {
  display: flex;
  flex-direction: column;
  gap: 10px;
  :nth-child(1) {
    font-weight: 600;
  }
  > :nth-child(2) {
    font-size: 36px;
  }
  :nth-child(3) {
    display: flex;
    gap: 8.64px;
    align-items: center;
    p {
      color: #818181;
    }
  }
}
.hot {
  display: flex;
  gap: 6px;
  align-items: center;
  padding: 6px 10px;
  border-radius: 24px;
  background-color: #0077ff;
  position: absolute;
  top: 0;
  right: -13px;
  rotate: 15.6deg;
  p {
    color: #fff;
  }
}
.bottom {
  display: flex;
  gap: 10px;
}
.card_button {
  border-radius: 7.76px;
  padding: 6px 10px;
  background-color: #0077ff;
  color: #fff;
}
footer {
  background-image: url("../images/BG.svg");
  background-position: center;
  background-size: cover;
  height: 400px;
  width: 100%;
  max-width: 1440px;
  border-radius: 24px;
  padding: 36px;
  div {
    display: flex;
    div {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      gap: 12px;
      font-size: 24px;
    }
    div:first-of-type a {
      display: flex;
      align-items: center;
      height: 44px;
      border-radius: 14px;
      padding: 7px 24px;
      background-color: #0077ff;
      font-size: 18px;
      color: #fff;
    }
  }
}
@media (max-width: 760px) {
  .for_desktop {
    display: none !important;
  }
  .for_mobile {
    display: flex !important;
  }
  nav {
    padding: 6px 12px;
  }
  body {
    background-color: #fff;
    gap: 24px;
  }
  .main_title {
    h1 {
      color: #fff;
      font-size: 24px;
    }
    background-size: 110%;
    background-image: url("../images/banner_background_fm.svg");
  }
  .main_vacancies {
    flex-direction: column;
    gap: 18px;
  }
  .vacancies {
    gap: 12px;
  }
}
